[alias]
  a    = add
  ap   = add --patch
  bmv  = branch --move
  bv   = branch --verbose
  ci   = commit
  cia  = commit --amend
  cif  = commit --fixup
  cifa = !bash -c 'git commit --fixup=\"${0}\" && git commit --amend'
  co   = checkout
  cob  = checkout --branch
  cp   = cherry-pick
  cpa  = cherry-pick --abort
  cpc  = cherry-pick --continue
  dc   = diff --cached
  df   = diff
  edit = !bash -c '${EDITOR} $(git ls-files --modified --other --exclude-standard | uniq)'
  ff   = merge --ff-only @{u}
  l    = log --decorate --oneline
  lg   = log --decorate --oneline --graph
  ll   = log --decorate
  lll  = log --decorate --stat
  p    = push
  pf   = push --force
  pom  = push origin master
  pu   = push --set-upstream
  rb   = rebase --autostash
  rba  = rebase --abort
  rbc  = rebase --continue
  rbi  = rebase --autostash --interactive
  rbs  = rebase --skip
  re   = reset
  reh  = reset --hard
  sa   = stash apply
  sc   = stash clear
  sd   = stash drop
  sl   = stash list
  sp   = stash pop
  ss   = stash save
  st   = status --short --branch
  sur  = submodule update --recursive

[color]
  pager = false
  ui = true

[push]
  default = simple

[diff]
  tool = nvim -d

[merge]
  tool = nvim -d

[difftool]
  prompt = false

[pager]
  log = nvim -R -
  show = nvim -R -
  diff = nvim -R -

[interactive]
  diffFilter = /usr/share/git/diff-highlight/diff-highlight
