[alias]
  a   = add
  ap  = add --patch
  bv  = branch --verbose
  bmv = branch --move
  ci  = commit
  cia = commit --amend
  cif = commit --fixup
  co  = checkout
  cp  = cherry-pick
  cpa = cherry-pick --abort
  cpc = cherry-pick --continue
  dc  = diff --cached
  df  = diff
  ff  = merge --ff-only @{u}
  l   = log --decorate --oneline
  lg  = log --decorate --oneline --graph
  ll  = log --decorate
  lll = log --decorate --stat
  p   = push
  pf  = push --force
  pom = push origin master
  rb  = rebase --autostash
  rba = rebase --abort
  rbc = rebase --continue
  rbi = rebase --interactive
  rbs = rebase --skip
  re  = reset
  reh = reset --hard
  sa  = stash apply
  sc  = stash clear
  sd  = stash drop
  sl  = stash list
  sp  = stash pop
  ss  = stash save
  st  = status --short --branch

  smur = submodule update --recursive
  edit = "!nvim `git ls-files -m --other --exclude-standard`"
  corb = "!git checkout \"$1\" && git rebase \"$2\""

[push]
  default = simple
