[alias]
  a   = add
  ap  = add --patch
  bv  = branch --verbose
  bmv = branch --move
  ci  = commit
  cia = commit --amend
  cif = commit --fixup
  co  = checkout
  cp  = cherry-pick
  cpa = cherry-pick --abort
  cpc = cherry-pick --continue
  dc  = diff --cached
  df  = diff
  ff  = merge --ff-only @{u}
  l   = log --decorate --oneline
  lg  = log --decorate --oneline --graph
  ll  = log --decorate
  lll = log --decorate --stat
  p   = push
  pf  = push --force
  pom = push origin master
  rb  = rebase --autostash
  rba = rebase --abort
  rbc = rebase --continue
  rbi = rebase --autostash --interactive
  rbs = rebase --skip
  re  = reset
  reh = reset --hard
  sa  = stash apply
  sc  = stash clear
  sd  = stash drop
  sl  = stash list
  sp  = stash pop
  ss  = stash save
  st  = status --short --branch

  smur = submodule update --recursive
  edit = !bash -c '${EDITOR} $(git ls-files --modified --other --exclude-standard)'
  cifa = !bash -c 'git commit --fixup=\"${0}\" && git commit --amend'

  oldest-ancestor = !bash -c 'diff --old-line-format='' --new-line-format='' <(git rev-list --first-parent "${1:-master}") <(git rev-list --first-parent "${2:-HEAD}") | head -1' -
  rewrite-branch = !bash -c 'git rebase --interactive --autostash "$(git merge-base master HEAD)"'
  short-log-branch = !bash -c 'git l "$(git merge-base master HEAD)"..HEAD'
  log-branch = !bash -c 'git log $(git merge-base master HEAD)..'
  diff-branch = !bash -c 'git diff $(git merge-base master HEAD) HEAD'

[push]
  default = simple
