*.pyc
*.swp
firefox/pentadactyl/info
ncmpcpp/error.log
vim/.netrwhist
vim/bundle
vim/eclim
vim/plugin/eclim.vim
vim/spell
xmonad/bin
xmonad/history
xmonad/xmonad
xmonad/xmonad-i386-linux
xmonad/xmonad-x86_64-linux
*.errors
*.hi
*.o
