*.pyc
*.swp
firefox/pentadactyl/info
ncmpcpp/error.log
vim/.netrwhist
vim/spell/
vim/tmp/
vim/vim-addons/
xmonad/bin
xmonad/history
xmonad/xmonad
xmonad/xmonad-i386-linux
xmonad/xmonad-x86_64-linux
*.errors
*.hi
*.o
