*.swp
xmonad/xmonad
xmonad/xmonad-x86_64-linux
xmonad/xmonad.errors
xmonad/xmonad.hi
xmonad/xmonad.o
xmonad/icons
vim/.netrwhist
xmonad/history
firefox/pentadactyl/info
vim/eclim
vim/plugin/eclim.vim
