# Directories
directory = ~/downloads
session   = ~/.rtorrent/session/

# Connections
min_peers      = 50
max_peers      = 200
max_peers_seed = 10
max_uploads    = 15

# Rate
download_rate = 0
upload_rate   = 75

# Other
check_hash    = yes
dht           = auto
encryption    = allow_incoming,try_outgoing,enable_retry
peer_exchange = yes
port_range    = 49164-49164

# Look in downloads
schedule = watch_directory,5,5,load_start=~/downloads/*.torrent
schedule = tied_directory,5,5,start_tied=
schedule = untied_directory,5,5,stop_untied=
