snippet cc "const char*" b
const char* ${1:STRING} = "${2:string}";
endsnippet

snippet st "struct" !
struct ${1:`!p snip.rv = (snip.basename or "name") + "_t"`} {
	${0:/* data */}
};

endsnippet

snippet if "if" !
if (${1:/* condition */}) {
	${0}
}
endsnippet

snippet for "for int loop" !
for (${4:size_t} ${2:i} = 0; $2 < ${1:count}; ${3:++$2}) {
	${0:/* code */}
}
endsnippet
