snippet inc "include header" b!
#include "`!p snip.rv = snip.basename + ".hpp"`"
endsnippet

snippet in "interface" b
class ${1:I`!p snip.rv = snip.basename or "Name"`}
{
	public:
		virtual ~$1() { }

		virtual ${4:void} ${2:myMethod}(${3:arguments}) = 0;
};
endsnippet

snippet us "using namespace" b
using namespace ${0:std};
endsnippet

snippet usb "using namespace boost" b
using namespace boost${0:::something};
endsnippet
