snippet module "module" b
`!p
if path and os.path.exists(path):
	(base, ext) = os.path.splitext(os.path.abspath(path))
	tmp = base.split("/")
	while tmp:
		s = tmp.pop(0)
		if s == "src":
			break

	snip.rv = "module " + ".".join(tmp) + " where"
else:
	snip.rv = "module " + snip.basename + " where"`
endsnippet
