snippet partial "Partial derivative" w
\frac{\partial ${1:f}}{\partial ${2:x}}
endsnippet

snippet sum "Sum" w
\sum_{${1:k} = ${2:-\infty}}^{${3:\infty}}
endsnippet

snippet alg "Algorithm" b
\begin{algorithm}[${1:H}]
	\caption{${2:Caption}}
	\label{alg:${3:label}}
	\begin{algorithmic}
		${0}
	\end{algorithmic}
\end{algorithm}
endsnippet

snippet al* "Align*" b
\begin{align*}
	${0}
\end{align*}
endsnippet

snippet eq* "Equation*" b
\begin{equation*}
	${0}
\end{equation*}
endsnippet
