[Unit]
Description=Chromium
After=xorg.target network.target

[Service]
EnvironmentFile=/home/daniel/.systemd-environment
ExecStart=/usr/bin/chromium

[Install]
WantedBy=main-stuff.target
