[Unit]
Description=Dropbox
After=local-fs.target network.target

[Service]
Type=simple
ExecStart=/usr/bin/env "$HOME/.dropbox-dist/dropboxd"
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=always
