[Unit]
Description=Firefox
After=xorg.target network.target

[Service]
EnvironmentFile=/home/daniel/.systemd-environment
ExecStart=/usr/bin/firefox

[Install]
WantedBy=main-stuff.target
