[Unit]
Description=Firefox with profile %I and without remote
After=network.target

[Service]
Environment=DISPLAY=:0
ExecStart=/usr/bin/firefox -P %I -no-remote
