[Unit]
Description=GVim
After=xorg.target

[Service]
EnvironmentFile=/home/daniel/.systemd-environment
ExecStart=/usr/bin/vim -gf

[Install]
WantedBy=stuff.target
