[Unit]
Description=Load nvidia settings
After=xorg.target

[Service]
ExecStart=/usr/bin/nvidia-settings --load-config-only

[Install]
WantedBy=stuff.target
