[Unit]
Description=Load nvidia settings

[Service]
ExecStart=/usr/bin/nvidia-settings --load-config-only

[Install]
WantedBy=main-stuff.target
WantedBy=gaming-stuff.target
