[Unit]
Description=Load nvidia settings

[Service]
Environment=DISPLAY=:0 BROWSER=/usr/bin/firefox
ExecStart=/usr/bin/nvidia-settings --load-config-only
