[Unit]
Description=PulseAudio Sound System
After=xorg.target
Before=sound.target
Requires=dbus.socket

[Service]
BusName=org.pulseaudio.Server
ExecStart=/usr/bin/pulseaudio
Restart=always
RestartSec=2

[Install]
WantedBy=main-stuff.target
WantedBy=gaming-stuff.target
