[Unit]
Description=Redshift
After=xorg.target

[Service]
ExecStart=/usr/bin/redshift -m randr -l 57.7117:11.9148 -t 6000K:4700K &
Restart=always

[Install]
WantedBy=stuff.target
