[Unit]
Description=Skype
After=network.target pulseaudio.service

[Service]
Environment=DISPLAY=:0 BROWSER=/usr/bin/firefox
ExecStart=/usr/bin/skype --disable-api
