[Unit]
Description=Skype
After=network.target pulseaudio.service
Wants=pulseaudio.service

[Service]
ExecStart=/usr/bin/skype --disable-api

[Install]
WantedBy=main-stuff.target
