[Unit]
Description=Skype
After=xorg.target network.target pulseaudio.service

[Service]
ExecStart=/usr/bin/skype --disable-api

[Install]
WantedBy=stuff.target
