[Unit]
Description=SSH with tmux to %I
After=network.target network-online.target

[Service]
Environment=DISPLAY=:0 BROWSER=/usr/bin/firefox
ExecStart=/usr/bin/urxvt -name irc -e /usr/bin/ssh %I -t LANG=en_US.UTF-8 tmux attach
