[Unit]
Description=Randomize Wallpaper

[Service]
ExecStart=/usr/bin/bash -c '/usr/bin/feh --bg-tile --no-fehbg "$(find %h/media/wallpapers | shuf -n 1)"'

[Install]
WantedBy=main-stuff.target
WantedBy=gaming-stuff.target
