[Unit]
Description=Randomize Wallpaper
After=xorg.target

[Service]
ExecStart=/bin/bash -c '/usr/bin/feh --bg-tile --no-fehbg "$(find %h/media/wallpapers | shuf -n 1)"'

[Install]
WantedBy=stuff.target
