[Unit]
Description=Xmonad
Before=stuff.target
After=xorg.target
Requires=xorg.target

[Service]
EnvironmentFile=/home/daniel/.systemd-environment
ExecStart=/usr/bin/xmonad
Restart=always
RestartSec=10

[Install]
WantedBy=wm.target
