[Unit]
Description=Weechat tmux session

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/tmux new-session -d -s irc /usr/bin/weechat
ExecSotp=/usr/bin/tmux kill-session -t irc
