snippet iface
	class ${1:`Filename('$1', 'name')`} {
		public:
			virtual ~$1() { }
			${2:/* members */}
	};

# Header include guard
snippet guardpp
	#ifndef ${1:`toupper(Filename('$1_HPP_', 'UNTITLED_HPP_'))`}
	#define $1

	${2}

	#endif /* end of include guard: $1 */
