URxvt.buffered:  true
URxvt.saveLines: 10000
URxvt.iso14755:  false

URxvt.keysym.M-u: perl:url-select:select_next
URxvt.perl-ext:   default,url-select

URxvt.font:            *-dina-medium-r-normal-*-10-*-*-*-*-*-*-*
URxvt.internalBorder:  0
URxvt.scrollBar:       false
URxvt.scrollBar_right: false
URxvt.urgentOnBell:    true
URxvt.visualBell:      false

URxvt.background: #141414
URxvt.foreground: #d4d4d4

URxvt.color0:  #262729
URxvt.color1:  #ae2c00
URxvt.color2:  #668800
URxvt.color3:  #b88b10
URxvt.color4:  #204a87
URxvt.color5:  #85608b
URxvt.color6:  #5485a4
URxvt.color7:  #767779
URxvt.color8:  #555544
URxvt.color9:  #f55900
URxvt.color10: #88aa22
URxvt.color11: #ffc135
URxvt.color12: #3465a4
URxvt.color13: #ad7fa8
URxvt.color14: #85a8c0
URxvt.color15: #b6b8b9
