<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu>
  <menu id="root-menu" label="OpenBox 3">
    <menu id="2" label="Editors">
      <item label="gedit"> <action name="Execute">
          <execute>gedit</execute>
      </action> </item>
    </menu>
    <menu id="3" label="Gaming">
      <item label="steam"> <action name="Execute">
          <execute>steam</execute>
      </action> </item>
    </menu>
    <menu id="7" label="Multimedia">
      <item label="audacity"> <action name="Execute">
          <execute>audacity</execute>
      </action> </item>
      <item label="blender"> <action name="Execute">
          <execute>blender</execute>
      </action> </item>
      <item label="gimp"> <action name="Execute">
          <execute>gimp</execute>
      </action> </item>
    </menu>
    <menu id="5" label="Network">
      <item label="firefox"> <action name="Execute">
          <execute>firefox</execute>
      </action> </item>
      <item label="skype"> <action name="Execute">
          <execute>skype</execute>
      </action> </item>
      <item label="wireshark"> <action name="Execute">
          <execute>wireshark</execute>
      </action> </item>
    </menu>
    <menu id="3" label="Office">
      <item label="libreoffice"> <action name="Execute">
          <execute>libreoffice</execute>
      </action> </item>
      <item label="zathura"> <action name="Execute">
          <execute>zathura</execute>
      </action> </item>
    </menu>
    <menu id="38" label="Utilities">
      <item label="keepassx"> <action name="Execute">
          <execute>keepassx</execute>
      </action> </item>
      <item label="nvidia-settings"> <action name="Execute">
          <execute>nvidia-settings</execute>
      </action> </item>
      <item label="pavucontrol"> <action name="Execute">
          <execute>pavucontrol</execute>
      </action> </item>
      <item label="urxvt"> <action name="Execute">
          <execute>urxvt</execute>
      </action> </item>
    </menu>
    <separator/>
    <menu id="40" label="OpenBox">
      <menu id="client-list-menu"/>
      <item label="Reconfigure"> <action name="Reconfigure"/> </item>
      <item label="Openbox Configuration Manager"> <action name="Execute">
          <execute>obconf</execute>
      </action> </item>
      <separator/>
      <item label="Exit"> <action name="Exit"/> </item>
    </menu>
  </menu>
</openbox_menu>
