[Unit]
Description=Selects a random wallpaper

[Service]
Type=oneshot
ExecStart=/usr/bin/random-wallpaper /usr/share/pixmaps/wallpapers /var/local/wallpaper
